
[*]
charset = utf-8
indent_style = space
indent_size = 8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[.coveragerc]
indent_size = 4

[.editorconfig]
indent_size = 4

[.gitattributes]
indent_size = 4

[.gitignore]
indent_size = 4

[.pylintrc]
indent_size = 8

[{*.conf, *.conf.ci, *.conf.default}]
indent_size = 4

[{*.env, *.env.default}]
indent_size = 2

[*.html]
indent_size = 2

[*.jinja2]
indent_size = 2

[*.md]
indent_size = 2

[*.py]
indent_size = 4

[*.service]
indent_size = 4

[*.sh]
indent_size = 4

# *.svg omitted -- will leave up to program that creates/edits it

[*.txt]
indent_size = 4

[*.{yaml,yml}]
indent_size = 2
