
[MASTER]
good-names=_,db,ex,f,i,j,k,v,x,y
init-hook='from pylint.config import find_pylintrc;
        import os, sys;
        sys.path.append(os.path.dirname(find_pylintrc()));
        sys.path.append(os.path.join(
                        os.path.dirname(find_pylintrc()), 'grand_trade_auto'));
        sys.path.append(os.path.join(
                        os.path.join(os.path.dirname(find_pylintrc()),
                                'grand_trade_auto'), 'general'));'

max-args=10


[MESSAGE CONTROL]
disable=
        logging-fstring-interpolation,
        logging-not-lazy,


[SIMILARITIES]
min-similarity-lines=8
